.query-builder {
  margin-right: 20px;
  margin-left: 20px
}

.add-line button {
  color: #0099CC;
  background: transparent;
  border: 2px solid #008CBA;
  border-radius: 6px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.add-line button:hover {
  background-color: #008CBA;
  color: white;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 20px
}
