#select {
  font-weight: bold;
  margin-right: 20px;
}

#from {
  font-weight: bold;
  margin-right: 20px;
}

#table {
  margin-right: 20px;
}

#where {
  font-weight: bold;
  margin-right: 20px;
}

#and {
  font-weight: bold;
  margin-right: 20px;
}

#like {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

#predicate {
  font-weight: italic;
  margin-right: 20px;
}
