#select {
  font-weight: bold;
  margin-right: 20px;
}

#from {
  font-weight: bold;
  margin-right: 20px;
}

#table {
  margin-right: 20px;
}

#where {
  font-weight: bold;
  margin-right: 20px;
}

#and {
  font-weight: bold;
  margin-right: 10px;
}

#like {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

#in {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}


#predicate {
  font-weight: italic;
  margin-right: 20px;
}

#between {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
